body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
 }

p {
    color: #8f8f8f;
}

/* Headings section */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Container section  */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title Image */

.title-image {
    transform: rotate(25deg);
    width: 60%; 
    position: absolute;
    right: 30%;
}

/* Features section */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

#features i {
    color: #ef8172;
    font-size: 4rem;
    padding: 1rem 0 1rem;
}

#features i:hover {
    color: #ff4c68;
}

/* Angela added div class .feature-box - padding: 5% ? */

#features p {
    color: #8f8f8f;
}

/* Testimonial section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
    padding: 100px; 
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* Footer section */

#footer i {
    padding: 0 20px 0 20px;
}

#footer p {
    color: #8f8f8f;
}

@media (max-width: 1028px) {
    
    .row {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

@media (min-width: 1600px) {

    .title-image {
        height:220%;
        width:auto;
    }
}
